<!--Google Maps-->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
  <ng-container *ngFor="let lugar of lugares | async">
    <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng" *ngIf="lugar.lat != '' && lugar.lng != ''"></agm-marker>
  </ng-container>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div  class="col-md-8">
      <a class="btn btn-primary" routerLink="/crear">Crear nuevo negocio</a>
    </div>
  </div>
  <div class="row">
    <div  class="col-md-8">
      <h2>Lugares cercanos</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares | async">
          <li class="list-group-item" *ngIf="lugar.active">
            <a routerLink="/editar/{{lugar.id}}">{{lugar.nombre | lowercase}}</a>
            <br/>
            <small>Creado: {{lugar.id | date:'medium' | uppercase}}</small>
            <p [innerHTML]="lugar.descripcion | linkifystr"></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div  class="col-md-4">
      <h2>Destacados</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares | async">
          <li class="list-group-item" *ngIf="lugar.active">{{lugar.nombre}}</li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
