<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="well">
        <a routerLink="/lugares">Lugares</a> / Contacto
      </div>
    </div>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="email" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputMessage1">Message</label>
            <textarea class="form-control" id="exampleInputMessage1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

