<!--The content below is only a placeholder and can be replaced.-->
<!--Google Maps-->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr />
<ul>
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">{{lugar.nombre}}</li>
  </ng-container>
</ul>
<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
    <!--Las directivas que no reciben parametros no deben ser puestas en corchetes-->
    <a contar-clicks>
      <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" [resaltar]="lugar.plan">
        {{lugar.nombre}} -
        <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
        <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
        <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
      </li>
    </a>
  </ng-container>
</ul>
<hr />
<div style="text-align: center">
  <h1>String interpolation</h1>
  <h2>{{ title }}</h2>
  <h3>{{ a+b }}</h3>
</div>
<div style="text-align: center">
  <h1>Property Binding</h1>
  <button [disabled]="!listo">Click 1</button>
</div>
<div style="text-align: center">
  <h1>Event Binding</h1>
  <button [disabled]="!listo" (click)="hacerAlgo()">Click 2</button>
</div>
<div style="text-align: center">
  <h1>Two Way Data Binding</h1>
  <input type="text" placeholder="Tu nombre" [(ngModel)]="nombre">
  <br/>
  Mi nombre es: {{nombre}}
</div>
<hr />
